<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBHgtAn-oNXU-eSQ8RvZY-DO4jKum6hywM</string>
	<key>GCM_SENDER_ID</key>
	<string>211774229900</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.infodebit</string>
	<key>PROJECT_ID</key>
	<string>infodebit-27f7a</string>
	<key>STORAGE_BUCKET</key>
	<string>infodebit-27f7a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:211774229900:ios:a61c64aea353cb72afdaa9</string>
</dict>
</plist>